doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        title JS13⭐2019░LUCAS_BERSIER
        link(rel="stylesheet" src="style.css" inline)

    body
        div#cursor
        div#board
        button#start Start!
        
script(src="index.js" inline)