doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        title JS13⭐2019░LUCAS_BERSIER
        link(rel="stylesheet" src="style.css" inline)

    body
        div#cursor
        div#container
            div#board
            canvas
            nav
                kbd(style="background: #00adef") 1
                kbd(style="background: #ff9dcc") 2
                kbd(style="background: #ffff76") 3
                kbd(style="background: #000") 4
        button#start Start!
        
script(src="index.js" inline)