html, body {
    margin: 0;
}

html {
    --cursorScale: 1; 
    --theme: #00adef;
}

html.ingame {
    cursor: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;

    $tileColor: #dcdcdc;
    $tileSize: 2em;
    min-height: 100vh;
    background-color: #fff;;
    background-image: linear-gradient(45deg, $tileColor 25%, transparent 25%, transparent 75%, $tileColor 75%, $tileColor), linear-gradient(45deg, $tileColor 25%, transparent 25%, transparent 75%, $tileColor 75%, $tileColor);
    background-size: $tileSize $tileSize;
    background-position: 0 0, ($tileSize/2) ($tileSize/2);
}

#cursor {
    $cursorWidth: 20px;
    visibility: hidden;
    transform: translate(var(--mouse-x),var(--mouse-y)) scale(var(--cursorScale));
    width: $cursorWidth;
    height: $cursorWidth;
    background: var(--theme);
    position: absolute;
    border-radius: 0.25em;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;
}

#board {
    $borderWidth: .5em;
    width: calc(var(--board-w) + #{$borderWidth});
    height: calc(var(--board-h) + #{$borderWidth});
    position: absolute;
    background: #333;
    z-index: -1;
    border-radius: $borderWidth;
    border: $borderWidth solid var(--theme);
}

.ingame {
    button#start {
        visibility: hidden;
    }
    #cursor {
        visibility: visible
    }
}